
[submodule "driverless_ws/src/zed-ros2-wrapper"]
	path = driverless_ws/src/zed-ros2-wrapper
	url = https://github.com/stereolabs/zed-ros2-wrapper.git
[submodule "driverless_ws/src/ros2_numpy"]
	path = driverless_ws/src/ros2_numpy
	url = https://github.com/carnegiemellonracing/ros2_numpy.git
[submodule "driverless_ws/src/HesaiTechnology/HesaiLidar_ROS_2.0"]
	path = driverless_ws/src/HesaiTechnology/HesaiLidar_ROS_2.0
	url = https://github.com/HesaiTechnology/HesaiLidar_ROS_2.0.git
[submodule "driverless_ws/src/eufs_msgs"]
	path = driverless_ws/src/eufs_msgs
	url = https://gitlab.com/eufs/eufs_msgs.git
[submodule "driverless_ws/src/vision_opencv"]
	path = driverless_ws/src/vision_opencv
	url = https://github.com/carnegiemellonracing/vision_opencv.git
