# IDE stuff
**/.vscode/
**/.idea/
./CMakeLists.txt  # top level cmake files can help with autocompletion, but should not be in repo
./driverless_ws/CMakeLists.txt
**/CMakeCache.txt
**/.DS_Store
# ROS Stuff
**/build/
**/install/
**/log/
**/cmake-build-*/
log.log

# ignore all data files
**/*.gz
**/*.npz
**/*.npy
/driverless_ws/src/**/*.png

**/__pycache__/
driverless_ws/src/Model/output
driverless_ws/src/Model/model.dSYM/Contents/Resources/Relocations/x86_64/model.yml
driverless_ws/src/Model/model.dSYM/Contents/Resources/DWARF/model
driverless_ws/src/Model/model.dSYM/Contents/Info.plist
driverless_ws/src/Model/model

*.log
driverless_ws/src/controls/**/*.txt
logs/**

#documentation
**/doxyhtml
**/doxyxml
**/tag_files
