# IDE stuff
**/.vscode/
**/.idea/
./CMakeLists.txt  # top level cmake files can help with autocompletion, but should not be in repo
./driverless_ws/CMakeLists.txt

# ROS Stuff
**/build/
**/install/
**/log/
**/logs/
**/cmake-build-*/
**/CMakeFiles/
**/CMakeCache.txt

**/__pycache__/
